.contato__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  align-items: center;
  justify-content: center;
}

.contato__opcoes {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contato__opcao {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contato__opcao:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contato__opcao-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contato__opcao a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary);
  resize: none;
  color: var(--color-white);
}
