.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.servicos {
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}
.servicos:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.servicos__head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.servicos__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}
.servicos__list{
    padding: 2rem;
}

.servicos__list li{
    display:flex;
    gap:1rem;
    margin-bottom:0.8rem ;
}
.servicos__list-icon{
    color: var(--color-primary);
    margin-top:2px;
}

